@keyframes bouncy{
    0% { width:0%; }
    60% { width:125%; }
    100% { width:100%; }
}

#outer {
    animation: bouncy 2s ease-out 0s 1 normal forwards running;
    -webkit-animation: bouncy 2s ease-out 0s 1 normal forwards running;
    -moz-animation: bouncy 2s ease-out 0s 1 normal forwards running;
}

#inner {
    animation: bouncy 2s ease-out 0s 1 normal forwards running;
    -webkit-animation: bouncy 2s ease-out 0s 1 normal forwards running;
    -moz-animation: bouncy 2s ease-out 0s 1 normal forwards running;
}


/* svg styling through css sheets may not work */